body{
	padding:0;
	margin:0;
	font-family: Trebuchet MS;
}
.header{
	background: url(../images/background.png);
	width: 100%;
	height: 190px;
	text-align: center;
}
.logo{
	background: url(../images/logo.png);
	width: 172px;
	height: 118px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:40px;
	opacity: 0.5;
}
.logo:hover{
	opacity: 10;
}
.central{
	display: flex;
    justify-content: center
}
.card{
	width: 500px;
	background: #fff;
	color:#aaaaaa;
	border-radius: 3px;
	border: 1px solid rgb(0,0,0, .2);
	box-shadow: 0px 2px rgb(0,0,0, .1);
}
.titlebox{
  background: #6491E5;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-shadow: 0px 1px rgb(0,0,0, .4);
  border-radius: 3px 3px 0px 0px
}
.footerbox{
  background: #6491E5;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-shadow: 0px 1px rgb(0,0,0, .4);
  border-radius: 0px 0px 3px 3px;
}
.errrorlogin{
  background: #E35B3E;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 7px;
  text-align: center;
  height: 35px;
  text-shadow: 0px 1px #000;
  color:#fff;
  height: 20px;
}
.inputlogin{
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 3px;
	border:1px solid rgb(0,0,0, .2);
	box-shadow: 0px 2px rgb(0,0,0, .1);
	padding-left: 10px;
	padding-right: 10px;
	color:#2E64FE;
}
.inputlogin:hover{
	border:1px solid #2E64FE;
}
.enterinput{
	background: #6491E5;
	padding: 10px;
	border-radius: 3px;
	border:none;
	box-shadow: 0px 2px rgb(0,0,0, .1);
	color: #fff;
	text-shadow: 0px 1px rgb(0,0,0, .3);
}